!.idea/codeStyles
!.idea/runConfigurations
*$py.class
*.7z
*.??_
*.?Q?
*.?Z?
*.F
*.LBR
*.Z
*.a
*.ace
*.afa
*.alz
*.apk
*.app
*.ar
*.arc
*.arj
*.b1
*.ba
*.bh
*.bz2
*.bzip
*.bzip2
*.cab
*.car
*.cfs
*.cmd
*.cover
*.cpio
*.cpt
*.d
*.dSYM/
*.dar
*.dd
*.deb
*.dgc
*.dll
*.dmg
*.dylib
*.ear
*.egg
*.egg-info/
*.elf
*.exe
*.exe~
*.exp
*.gca
*.gch
*.gem
*.gz
*.gzip
*.ha
*.hex
*.hki
*.i*86
*.ice
*.idb
*.ilk
*.infl
*.iso
*.iws
*.jar
*.kgb
*.ko
*.la
*.lai
*.lbr
*.lcov
*.lha
*.lib
*.lo
*.log
*.lz
*.lzh
*.lzma
*.lzo
*.lzx
*.manifest
*.map
*.mar
*.mo
*.mod
*.mod*
*.msi
*.msm
*.msp
*.o
*.obj
*.out
*.pak
*.paq*
*.partimg
*.pch
*.pdb
*.pea
*.pid
*.pid.lock
*.pim
*.pit
*.pkg
*.pot
*.py,cover
*.py[cod]
*.qda
*.rar
*.rk
*.rpm
*.rz
*.s7z
*.sage.py
*.sda
*.sea
*.seed
*.sen
*.sfark
*.sfx
*.shar
*.shk
*.sit
*.sitx
*.slo
*.smod
*.so
*.so.*
*.spec
*.sqx
*.su
*.sz
*.tar
*.tar.Z
*.tar.bz2
*.tar.gz
*.tar.lzma
*.tbz2
*.test
*.tgz
*.tlz
*.tsbuildinfo
*.txz
*.uc
*.uc0
*.uc2
*.uca
*.ucn
*.ue2
*.uha
*.ur2
*.war
*.wim
*.x86_64
*.xar
*.xp3
*.xpi
*.xz
*.yz1
*.z
*.zip
*.zipx
*.zoo
*.zpaq
*.zz
.Python
.cache
.cache/
.coverage
.coverage.*
.dmypy.json
.docusaurus
.dynamodb/
.eggs/
.env
.env.development.local
.env.local
.env.production.local
.env.test.local
.eslintcache
.fusebox/
.grunt
.hypothesis/
.idea/*
.idea/**/aws.xml
.idea/**/contentModel.xml
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/dataSources/
.idea/**/dbnavigator.xml
.idea/**/dictionaries
.idea/**/dynamic.xml
.idea/**/gradle.xml
.idea/**/libraries
.idea/**/mongoSettings.xml
.idea/**/shelf
.idea/**/sqlDataSources.xml
.idea/**/tasks.xml
.idea/**/uiDesigner.xml
.idea/**/usage.statistics.xml
.idea/**/workspace.xml
.idea/caches/build_file_checksums.ser
.idea/httpRequests
.idea/replstate.xml
.idea/sonarlint/
.idea_modules/
.installed.cfg
.ipynb_checkpoints
.lock-wscript
.mypy_cache/
.next
.node_repl_history
.nox/
.npm
.nuxt
.nyc_output
.parcel-cache
.pdm.toml
.phpunit.cache
.phpunit.result.cache
.pnp.*
.pnpm-debug.log*
.pybuilder/
.pyre/
.pytest_cache/
.pytype/
.ropeproject
.rpt2_cache/
.rts2_cache_cjs/
.rts2_cache_es/
.rts2_cache_umd/
.ruff_cache/
.scrapy
.serverless/
.spyderproject
.spyproject
.stylelintcache
.svelte-kit
.temp
.tern-port
.tmp_versions/
.tox/
.venv
.vscode-test
.vuepress/dist
.webassets-cache
.webpack/
.yarn-integrity
.yarn/build-state.yml
.yarn/cache
.yarn/install-state.gz
.yarn/unplugged
/app/phpunit.xml
/build/
/phpunit.xml
/site
ENV/
MANIFEST
Mkfile.old
Module.symvers
__pycache__/
__pypackages__/
atlassian-ide-plugin.xml
bower_components
build/
build/Release
celerybeat-schedule
celerybeat.pid
cmake-build-*/
com_crashlytics_export_strings.xml
cover/
coverage
coverage.xml
crashlytics-build.properties
crashlytics.properties
cython_debug/
db.sqlite3
db.sqlite3-journal
develop-eggs/
dist
dist/
dkms.conf
dmypy.json
docs/_build/
downloads/
eggs/
env.bak/
env/
fabric.properties
go.work
htmlcov/
instance/
ipython_config.py
jspm_packages/
lerna-debug.log*
lib-cov
lib/
lib64/
local_settings.py
logs
modules.order
node_modules/
nosetests.xml
npm-debug.log*
out
out/
parts/
pids
pip-delete-this-directory.txt
pip-log.txt
poetry.toml
profile_default/
pyrightconfig.json
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
sdist/
share/python-wheels/
target/
var/
venv.bak/
venv/
web_modules/
wheels/
yarn-debug.log*
yarn-error.log*
